<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day</title>
</head>

<body>
    <% if(Eday==="Sunday" || Eday==="Saturday" ) {%>
        <h1 style="color: rgb(197, 35, 62);">
            <%= Eday %> ToDo List%>
        </h1>
        <% }else{ %>
            <h1 style="color: rgb(26, 26, 241);">
                <%= Eday %> ToDo List
            </h1>
            <% } %>
</body>

</html>